CurlingAI/Debug/
CurlingAI/Release/
CurlingAI/x64/
CurlingAI/*.vcxproj
CurlingAI/*.filters
*.sln
*.exe
*.ilk
*.pdb
.vs/
Debug/logs.csv
Debug/allLogs.csv
Debug/convertLogs/logs.csv
Debug/convertLogs/allLogs.csv
Debug/vec20190503
Debug/vec20190508